$darkcolor:#21243D;
$light:#8695A4;
$primary:#FF6464;
$fontW:400;
$fontS:16px;
$family:'Heebo';
@mixin fonts ($fontS,$fontW,$darkcolor,$family) {
    font-size: $fontS;
    font-weight: $fontW;
    color: $darkcolor;
    font-family: $family;
}
/* Обнуление */
*,
::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: 'Heebo';
}
/* ----------------HEADER----------------*/
.header-container {
    max-width: 1035px;
    padding: 0 15px;
    box-sizing: content-box;
    margin: 0 auto;
}
.header {
    .menu {
        justify-content: end;
        display: flex;
        padding: 26px 0;
        .menu-list {
            display: flex;
            .menu-item.active a {
                color: $primary;
            }
            .menu-item {
                margin-right: 33px;
            }
            .menu-item:last-child {
                margin-right: 0px;
            }
            .menu-item a {
                font-weight: 500;
                font-size: 20px;
                line-height: 29px;
                color: rgb(0, 0, 0);
                transition: all 0.3s ease 0s;
            }
            .menu-item:hover a {
                color:$primary;
              }
            }
        }
    }

/*-------------------------MAIN-----------------------------*/
    .main {
        margin-top: 46px;
    }
    .container {
        max-width: 856px;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: content-box;
}
/*----------------------FIRST-SECTION---------------------*/
.first-section {
    .author-block {
        display: flex;
        padding: 76px 0;
        .author-content {
                display: flex;
                flex-direction: column;
                margin-right: 120px;
                h1 {
                    font-weight: 700;
                    font-size: 44px;
                    line-height: 60px;
                    color: $darkcolor;
                    margin-top: 12px;
                }
                p {
                    margin-top: 30px;
                    @include fonts ($fontS,$fontW,$darkcolor,$family);  
                }
                .button {
                    margin-top: 33px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 29px;
                    color: rgb(255, 255, 255);
                    min-height: 47px;
                    max-width: 208px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgb(255, 100, 100);
                    border-radius: 2px;
                    transition: all 0.4s ease 0s;
                    border: 1px solid transparent;
                }
                .button:hover {
                    color: $primary;
                    background: rgb(255, 255, 255);
                    border-color:  $primary;
                }
        }
    }
}
/*---------------------SECOND-SECTION------------------------*/
.second-section {
    background-color: #EDF7FA;
    padding: 7px 0px 32px;
    .main-content {
        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .head h5 {
            @include fonts (22px,$fontW,$darkcolor,$family);

            line-height: 60px;
        }
        .head a {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #00A8CC;
        }
        .head a:hover {
          text-decoration: underline;
        }
    }
}
/*----------------------POST-----------------------*/
.main-content {
    .post-main {
        display: flex;
        .post {
         padding: 23px 21px 23px 21px;
         display: flex;
         flex-direction: column;
         background-color: #fff;
         max-width: 418px;
         .top-block {
            @include fonts(26px,700,$darkcolor,$family);
            line-height: 38px;
         }
         .center-block {
            display: flex;
            align-items: center;
            margin-top: 17px;
        }
        .line {
            height: 21px;
            border: 1px solid #000000;
        }
        .center-block {
           .date {
               font-weight: 400;
               font-size: 18px;
               line-height: 26px;
               color: $darkcolor;
               margin-right: 26px;
           }
           p {
               font-weight: 400;
               font-size: 18px;
               line-height: 26px;
               color: $darkcolor;
           }
           .info {
               margin-left: 26px;
           }
        }
        .bottom-block {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $darkcolor;
            max-width: 368px;
            margin-top: 21px;
         }
        }
        .post.first {
        margin-right: 10px;
        }
        .post.second {
        margin-left: 10px;
        }
    }
}
/*---------------------THIRD-SECTION------------------------*/
.third-section {
    .title {
        font-weight: 400;
        font-size: 22px;
        line-height: 60px;
        color: $darkcolor;
        margin-top: 15px;
    }
    .featured-works {
        margin-top: 22px;
        .works {
            display: flex;
            .work-info {
                display: flex;
                flex-direction: column;
                .text {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: $darkcolor;
                    margin-top: 17px;
                }
                .info {
                 display: flex;
                 align-items: center;
                 margin-top: 16px;
                 .date {
                     background: #142850;
                     border-radius: 16px;
                     margin-right: 26px;
                 }
                 .date p {
                     color: #FFFFFF;
                     font-weight: 900;
                     font-size: 18px;
                     line-height: 29px;
                     padding: 0px 10px 0;
                 }
                }
                .avtor {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 29px;
                    color: $light;
                }
            }
            .work-info h2 {
                font-weight: 700;
                font-size: 30px;
                line-height: 44px;
                color: $darkcolor;
            }
        }
        .lines-1 {
            width: 100%;
            border: 1px solid #E0E0E0;
            height: 0;
            display: inline-block;
            margin-top: 35px;
        }
        .works img {
           margin-right: 18px;
        }
    }
    .featured-works.two {
        margin-top: 31px;
    }
    .featured-works.three {
        margin-top: 31px;
    }
}

/*---------------------FOOTER------------------------*/
.footer {
    margin-top: 83px;
    .footer-content {
        padding: 50px 0;
        .footer-icons {
            display: flex;
            justify-content: center;
            align-items: center;
                img {
                    margin-right: 35px;
                }
                img:last-child {
                    margin: 0;
                }
        }
        .text {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: $darkcolor;
            margin-top: 26px;
        }
    }
}
/*---------------------BLOG-PAGE------------------------*/
.blog {
    .blog-title {
        @include fonts (44px,700,$darkcolor,$family);
        line-height: 60px;
    }
    .blog-container {
        margin-top: 55px;
        .subtitle {
            @include fonts (30px,500,$darkcolor,$family);
        }
        .information {
            display: flex;
            align-items: center;
            margin-top: 16px;
            .line {
                height: 21px;
                border: 1px solid #000000;
                margin: 0 20px;
            }
            .date {
                @include fonts (20px,$fontW,$darkcolor,$family);
                line-height: 29px;
            }
            .info {
                @include fonts (20px,$fontW,$light,$family);
                line-height: 29px;
            }
        }
        .text {
              @include fonts ($fontS,$fontW,$darkcolor,$family);
                line-height: 23.5px;
                margin-top: 15px;
                max-width: 682px;
        }
    }
    .lines-1 {
        width: 100%;
        border: 1px solid #E0E0E0;
        height: 0;
        display: inline-block;
        margin-top: 29px;
    }
}
